.piechart {
  text-align: center;
  margin-top: 30px;
  color: #124257;
}

.pieImg {
  width: 80%;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999, 0 2px 4px #999;
}

h4 {
  font-family: "Open Sans";
  text-align: center;
}
